<footer>
<div class="foot">


<style>
            .column123 {
                float: left;
                width: 33%;
               height: 200px;


            }
            #p12 {
                font-size:20px;
                font-weight:bold;
                margin:5px;
                padding:10px;
            }
        </style>

    <div class="column123">
                <p id="p12">Company</p12> </p>

                    About Us</br>
                    Data Structures</br>
                    Careers</br>
                    Privacy Policy</br>
                    Contact Us</br>
            </div>

            <div class="column123">
                <p id="p12">Learn</p>

                    Algorithms</br>
                    Data Structures</br>
                    Languages</br>
                    CS Subjects</br>
                    Video Tutorials</br>

            </div>

            <div class="column123">
                <p id="p12">Practice</p>
                    Company-wise</br>
                    Topic-wise</br>
                    Contests</br>
                    CS Subjects</br>
                    Subjective Questions</br>
            </div>
</footer>