<!DOCTYPE html>
<html>
<head>
	<title>Student Detail</title>
</head>
<body>
	<h1>Details of Student</h1>
	<h2>Student Name : {{student_detail.name}}</h2>
	<h3>Student Issued Books : {{student_detail.book}}</h2>
	<h3>Student Father Name : {{student_detail.father_name}}</h2>
	<h3>Student Mobile Number : {{student_detail.mobile_no}}</h2>
	<h3>Student Semester : {{student_detail.semester}}</h2>
	<h3>Student Student Id : {{student_detail.student_id}}</h2>
	<h3>Student Aadhar : {{student_detail.aadhar}}</h2>
	<h3>Student Address : {{student_detail.address}}</h2>
	<h3>Student Pin Code : {{student_detail.Pin_code}}</h2>
	<!-- <h3>Student N1ame : {{student_detail.father_name}}</h2> -->


</body>
</html>