{% extends 'lb1/base.html' %}


{% block main %}
{% load static %}







<div class="container">
  <h2>show all books</h2>

  <table class="table">
    <thead>
      <tr class="bg-danger">
        <th>Book Name</th>
        <th>Book Id</th>
        <th>Author Name</th>
        <th>Publication</th>
      </tr>
    </thead>
    <tbody>
{% for addbook in showbooks %}
      <tr class="bg-active">


        <td>{{ addbook.book_name }}</td>
        <td>{{ addbook.book_id }}</td>
        <td>{{ addbook.author_name}}</td>
        <td>{{ addbook.publication }}</td>
          {% endfor %}
      </tr>

    </tbody>
  </table>
</div>













<!--<table>-->
<!--<ul>-->
<!--{% for addbook in showbooks %}-->
<!--    <li>{{ addbook.book_name }} </li>-->
<!--    <li>{{ addbook.book_id }} </li>-->
<!--    <li>{{ author_name}} </li>-->
<!--    <li>{{ publication }} </li>-->
<!--{% endfor %}-->

<!--</ul>-->
<!--    </table>-->
{% endblock %}





