
{% load static %}
<div id="leftside">
            <p><a class="nav active" href="{% url 'login' %}">Library </a><span class="hide"> | </span>
                <a class="nav" href="{% url 'e-lib' %}">E-Library </a><span class="hide"> | </span>
                <a class="nav" href="e-lib">Courses</a><span class="hide"> | </span>
                <a class="nav" href="e_lib">Bca Books</a><span class="hide"> | </span>
                <a class="nav" href="e_lib">All exam </a><span class="hide"> | </span>
                <a class="nav" href="e_lib">Free content</a><span class="hide"> | </span>
                <a class="nav" href="e_lib">Bca Books</a><span class="hide"> | </span>
                <a class="nav" href="e_lib">All exam </a><span class="hide"> | </span>


            <h1>Links:</h1>
            <ul class="linklist">
                <li><a href="http://kuadmission.in/home/" color:blue,>kumao university</a></li>
                <li><a href="http://lsmgpgcollege.org/">lsm gpgc</a></li>
                <li><a href="https://www.w3schools.in/">computer science</a></li>
                <li><a href="https://bscacademy.com/">B.Sc</a></li>
                <li><a href="https://www.jagranjosh.com/current-affairs?ref=nav_ca">current affairs</a></li>


            </ul>
        </div>
